body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/********** CONTEST ENTRY **********/
.contest-entry-container {
  margin: auto;
  width: 95%;
  text-align: center;
  border-style: solid;
}

.contest-entry-row {
  display: flex;
  width: 100%;
}

.contest-entry-col {
  flex: 50%;
  padding: 1%;
}

.weatherpeople-list-container {
  border-style: solid;
  width: 100%;
  text-align: center;
  height: 100%;
  /* margin-left: 10%; */
}

.my-team-list-container {
  border-style: solid;
  width: 100%;
  text-align: center;
  height: 100%;
  /* margin-left: 10%; */
}

.forecast-box {
  border-style: solid;
  border-with: thin;
}

/********** NAV **********/

#nav-link {
  color: white
}


/********** LOGIN ********/

#login-form, #sign-up-form {
  margin: auto;
  width: 15%;
  text-align: center;
}

/********** HISTORY ********/

.history-container {
  margin: auto;
  width: 99%;
  text-align: center;
}

.history-card-container {
  margin-top: 2%;
  margin-bottom: 4%;
  border-style: solid;
  text-align: center;
}

.history-card-row {
  display: flex;
  margin-top: 10px;
}

.history-card-col {
  flex: 33.3%
}

.scorecard-container {
  display: flex;
  border-style: solid;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 5%;
  height: 90%;
}

.scorecard-row {
  display: flex;
  width: 100%;
}

.scorecard-col {
  flex: 25%;
}



/********** LOBBY **********/

.lobby-row {
  display: flex;
  width: 100%;
}

.lobby-col {
  flex: 50%;
  padding: 3%;
}

.contest-list-container {
  border-style: solid;
  width: 90%;
  text-align: center;
  height: 150%;
  margin-left: 10%;
}

.my-teams-list-container {
  border-style: solid;
  width: 90%;
  text-align: center;
  height: 150%;
  margin-right: 10%;
}

.contest-li {
  display: flex;
  border-style: solid;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 5%;
}

.contest-li-col {
  flex: 25%
}

.my-teams-li {
  display: flex;
  border-style: solid;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 5%;
}

.my-teams-li-col {
  flex: 25%
}
