body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




/********** NAV **********/

#nav-link {
  color: white
}



/********** LOBBY **********/

.lobby-row {
  display: flex;
  width: 100%;
}

.lobby-column {
  flex: 50%;
  padding: 10px;
}

.draft-lobby-container {
  border-style: solid;
  width: 100%;
  text-align: center;
  height: 3000%
}
