/* html, body {
  height: 100vh;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-image: url('/rice-paper.png');
  background-repeat: repeat-y;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  border: 1px solid;
}


/********** FONTS ********/
#secular {
  font-family: 'Secular One', sans-serif;
}

#pacifico {
  font-family: 'Pacifico', cursive;
}

#assistant {
  font-family: 'Assistant', sans-serif;
}
