/********** NAV **********/
#nav-link {
  color: white
}

.nav-ul {
  height: 6.25em;
  list-style-type: none;
  margin: 0;
  padding: 0;   /* TODO: delete? */
  overflow: hidden;  /* TODO: delete? */
  background-image: url('/egg-shell.png');
  position: fixed;
  top: 0;
  width: 102%;
  z-index: 3;
  border-bottom: 4px solid #323042;
}

li {
  float: left;
  height: 100%;
}

#li-right {
  float: right;
}

#drafty-nav-logo {
  margin-top: -5px;
}

#nav-bar-link {
  height: 100%;   /* TODO: delete? */
  display: block;
  color: #eff5f2;
  text-align: center; /* TODO: delete? */
  font-size: 18px;
  padding: 35px 16px;
  text-decoration: none; /* TODO: delete? */
}

#nav-bar-link:hover:not(.active) {
  background-color: #323042;
}

.active {
  background-color: #323042;
}
