/********** LOBBY **********/
.lobby-container {
  margin: auto;
  width: 100%;
  margin-top: 8%;
}

.lobby-row {
  display: flex;
  width: 100%;
}

.lobby-col {
  flex: 50%;
  padding: 1%;
}

/********** CONTEST LIST **********/
.contest-list-container {
  width: 90%;
  text-align: center;
  height: 150%;
  margin-left: 10%;
}

.contest-li {
  display: flex;
  padding: 10px;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 5%;
  background-image: url('/sandpaper.png');
  border-radius: 5px;
  font-size: 1.2em;
}

.contest-li-col {
  flex: 25%;
  margin: auto;
  width: 50%;
}

#view-draft-button {
  background-color: #fbde4a;
  text-transform: none;
  font-family: 'Secular One', sans-serif;
  font-weight: bold;
  font-size: 15px;
  z-index: 0;
  color: #323042;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px #fbde4a;
}


/********** MY TEAMS LIST **********/
.my-teams-list-container {
  width: 90%;
  text-align: center;
  height: 150%;
  margin-right: 10%;
}

.my-teams-li {
  display: flex;
  padding: 10px;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 4%;
  background-image: url('/sandpaper.png');
  border-radius: 5px;
  font-family: 'Secular One', sans-serif;
  font-size: 1.2em;
}

.my-teams-li-col {
  flex: 25%;
}

#my-teams-li-contest-info {
  margin-left: 18px;
}

#my-teams-li-wp {
  margin-top: 4%;
}
