/********** MEET THE WEATHERPEOPLE **********/
.meet-container {
  margin: auto;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 6%;
  /* border: 1px solid; */
}

.wp-button {
  margin: auto;
  width: 12em;
  height: 12em;
  text-align: center;
  padding-top: 2%;
  border-radius: 5px;
  background-color: #eff5f2;
}

#wp-img {
  width: 45em;
  border-radius: 5px;
}

.weatherpeople-index {
  margin: auto;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
}


/********** BIO **********/

.wp-bio {
  margin-left: 50px;
}
